In [1]:
import ccxt
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# bybitのAPIに接続
exchange = ccxt.bybit()

In [3]:
# 開始日時と終了日時を指定（ここでは例として2022年1月1日から2022年12月31日までを指定）
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 3, 31)
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

data = []

In [4]:
while start_timestamp < end_timestamp:
    try:
        new_data = exchange.fetch_ohlcv('ETHUSDT', timeframe='1m', since=start_timestamp, limit=1000)
        if new_data:
            start_timestamp = new_data[-1][0] + 1
            data += new_data
        else:
            break
    except Exception as e:
        print(f"An error occurred: {e}")
        break

# データをDataFrameに変換
df = pd.DataFrame(data, columns=['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')

print(df.head())

            Timestamp     Open    High      Low    Close  Volume
0 2022-12-31 15:00:00  1203.80  1203.8  1203.70  1203.75  120.72
1 2022-12-31 15:01:00  1203.75  1203.9  1203.75  1203.85  277.29
2 2022-12-31 15:02:00  1203.85  1204.0  1203.85  1204.00  122.91
3 2022-12-31 15:03:00  1204.00  1204.4  1203.95  1204.30  207.28
4 2022-12-31 15:04:00  1204.30  1204.4  1204.25  1204.35  152.69

In [5]:
print(df.tail())

                  Timestamp     Open     High      Low    Close  Volume
1073921 2023-03-30 18:41:00  1772.61  1772.62  1772.00  1772.62  472.24
1073922 2023-03-30 18:42:00  1772.62  1773.16  1772.02  1773.15  191.25
1073923 2023-03-30 18:43:00  1773.15  1774.25  1772.90  1774.25   86.89
1073924 2023-03-30 18:44:00  1774.25  1774.36  1773.60  1773.61  110.87
1073925 2023-03-30 18:45:00  1773.61  1773.61  1773.36  1773.37  205.25

In [22]:
df.describe()

               Open          High           Low         Close        Volume
count  1.179474e+06  1.179474e+06  1.179474e+06  1.179474e+06  1.179474e+06
mean   3.615735e+04  3.617439e+04  3.614032e+04  3.615735e+04  7.060384e+01
std    1.393409e+04  1.393963e+04  1.392832e+04  1.393409e+04  2.007155e+02
min    1.548700e+04  1.552450e+04  1.544000e+04  1.548700e+04  0.000000e+00
25%    2.233340e+04  2.233950e+04  2.232820e+04  2.233340e+04  1.076400e+01
50%    3.658450e+04  3.661000e+04  3.655850e+04  3.658450e+04  2.666500e+01
75%    4.710200e+04  4.712250e+04  4.708400e+04  4.710200e+04  6.562975e+01
max    6.909500e+04  6.913850e+04  6.884250e+04  6.909500e+04  2.702585e+04

In [5]:
df.to_csv('bybit_ethusdt_20230101-20230330.csv')