In [3]:
import ccxt
import pandas as pd
from datetime import datetime, timedelta

In [14]:
# bybitのAPIに接続
exchange = ccxt.bybit()

In [19]:
# 開始日時と終了日時を指定（ここでは例として2022年1月1日から2022年12月31日までを指定）
start_date = datetime(2021, 1, 1)
end_date = datetime(2023, 3, 31)
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

data = []

In [20]:
while start_timestamp < end_timestamp:
    try:
        new_data = exchange.fetch_ohlcv('BTCUSDT', timeframe='1m', since=start_timestamp, limit=1000)
        if new_data:
            start_timestamp = new_data[-1][0] + 1
            data += new_data
        else:
            break
    except Exception as e:
        print(f"An error occurred: {e}")
        break

# データをDataFrameに変換
df = pd.DataFrame(data, columns=['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')

print(df.head())

            Timestamp     Open     High      Low    Close  Volume
0 2020-12-31 15:00:00  28327.0  28345.0  28317.5  28345.0   4.788
1 2020-12-31 15:01:00  28345.0  28364.5  28345.0  28364.5   4.115
2 2020-12-31 15:02:00  28364.5  28395.0  28362.0  28395.0  13.706
3 2020-12-31 15:03:00  28395.0  28450.0  28395.0  28450.0  40.293
4 2020-12-31 15:04:00  28450.0  28461.0  28449.5  28461.0  21.905

In [21]:
print(df.tail())

                  Timestamp     Open     High      Low    Close  Volume
1179469 2023-03-30 16:49:00  28235.2  28235.3  28228.0  28229.1  18.223
1179470 2023-03-30 16:50:00  28229.1  28241.9  28229.1  28241.0  21.137
1179471 2023-03-30 16:51:00  28241.0  28258.1  28241.0  28258.0  32.133
1179472 2023-03-30 16:52:00  28258.0  28258.6  28243.7  28243.7  64.725
1179473 2023-03-30 16:53:00  28243.7  28268.9  28243.7  28268.9  33.430

In [22]:
df.describe()

               Open          High           Low         Close        Volume
count  1.179474e+06  1.179474e+06  1.179474e+06  1.179474e+06  1.179474e+06
mean   3.615735e+04  3.617439e+04  3.614032e+04  3.615735e+04  7.060384e+01
std    1.393409e+04  1.393963e+04  1.392832e+04  1.393409e+04  2.007155e+02
min    1.548700e+04  1.552450e+04  1.544000e+04  1.548700e+04  0.000000e+00
25%    2.233340e+04  2.233950e+04  2.232820e+04  2.233340e+04  1.076400e+01
50%    3.658450e+04  3.661000e+04  3.655850e+04  3.658450e+04  2.666500e+01
75%    4.710200e+04  4.712250e+04  4.708400e+04  4.710200e+04  6.562975e+01
max    6.909500e+04  6.913850e+04  6.884250e+04  6.909500e+04  2.702585e+04

In [23]:
df.to_csv('bybit_btcusdt_20210101-20230330.csv')